.player {
  height: 60px;
  width: 100%;
  background: rgb(238, 238, 238);
  box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.5);
}

ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  padding: 10px 15px;
}

.player-link {
  box-sizing: border-box;
}
.player-link i {
  box-sizing: border-box;
  padding: 5px;
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.8);
}

.player-link i:hover {
  background: rgba(0, 0, 0, 0.2);
}

button {
  border: none;
  background: none;
}
