.player {
  height: 60px;
  width: 100%;
  background: rgb(238, 238, 238);
  box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.5);
}

ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  padding: 10px 15px;
}

.player-link {
  box-sizing: border-box;
}
.player-link i {
  box-sizing: border-box;
  padding: 5px;
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.8);
}

.player-link i:hover {
  background: rgba(0, 0, 0, 0.2);
}

button {
  border: none;
  background: none;
}

button:focus {
  outline: none;
}

.currently-playing .album-artwork {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
  border: none;
}
.currently-playing .song-info {
  display: inline-block;
  height: 100%;
}
.currently-playing {
  height: 60px;
  position: absolute;
  left: 0;
}

.currently-playing p {
  position: relative;
  margin: 0;
  top: -5px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 12px;
}

.currently-playing .song-name {
  font-size: 16px;
}

.song-features {
  height: 60px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.song-features li {
  padding: 5px;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
}

/* On screens that are 800px or less, aka Tablets */
@media screen and (max-width: 800px) {
}

/* On screens that are 500px or less, phones */
@media screen and (max-width: 500px) {
  .currently-playing {
    position: absolute;
    background: white;
    top: -60px;
    width: 100%;
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.5);
  }
  .song-features {
    position: absolute;
    top: -40px;
    right: 5px;
  }
  .song-features li {
    width: 24px;
    font-size: 12px;
    height: 24px;
    border-radius: 12px;
    margin-right: 5px;
  }
  .song-info p {
    max-width: 190px;
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
  }
}
