.listofallsongs {
  font-size: 12px;
  color: rgba(0, 0, 0, 1);
}

.table-rows td p {
  margin: 0;
}

.song-name {
  font-size: 16px;
  font-weight: 400;
}

.table-rows.table-headings {
  color: rgba(0, 0, 0, 0.7);
}

.table-rows.table-headings th {
  border: none;
}

.middle-align {
  vertical-align: middle !important;
  padding: 0 !important;
  padding-left: 24px !important;
  min-width: 60px;
}

.table-rows.table-data:hover {
  cursor: pointer;
  background: white;
}
.table-rows.table-data:hover td {
  background: white;
}
