.top-album-artwork {
  width: 22%;
  padding-bottom: 25%;
  margin-right: 3%;
}
.col-sm div {
  display: inline-block;
}

.col-sm:hover {
  background: rgba(255, 255, 255, 0.5);
}

.top-song-info {
  width: 75%;
  padding: 0;
  float: right;
}

.top-artist-name {
  font-size: 12px;
  clear: both;
  margin: 0;
}

.song-card {
  margin: 0 10px;
  padding: 0;
}

.top-song-name {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.top-song-features {
  display: block;
  width: 100%;
  position: relative;
  clear: both;
  text-align: left;
  margin-top: 5px;
}

.feature {
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 0;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  margin: 0 5px;
  width: 20px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
